@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700');
}


* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
        box-sizing: border-box;
    }
}

body {
    color: black;
    background: #F6F9FC;
    overflow-x: hidden;
    box-sizing: border-box;


}

.c_flex {
    @apply flex justify-between align-middle
}

a {
    @apply no-underline text-black
}

li {
    @apply list-none
}

input {
    @apply outline-none
}

.shadow-down-sm {
    box-shadow: 0px 20px 17px -18px rgba(0, 0, 0, 0.1)
}

.flex-mybox {
    object-fit: cover !important;
    grid-template-rows: 1fr 1fr;
    max-height: 800px;
    height:500px;

}

.mydots li {
    border: 2px solid #b8b7b7;
    border-radius: 50%;
    width: 10px;
}

.mydots li button {
    background: transparent !important;
    color: transparent !important;
}

.slick-dots li button::before {
    font-size: 15px !important;
    color: #b8b7b7 !important;
    position: absolute;
    top: 2px !important;
    left: 0px;
    margin: auto;
}

.homeSlide h1 {
    font-size: 45px;
    line-height: 55px;
    margin: 50px 0 20px 0;
}

.homeSlide p {
    margin: 20px 0;
}

.homeSlide ul {
    position: absolute;
    bottom: 20px;
}

.homeSlide ul li {
    border: 2px solid #b8b7b7;
    border-radius: 50%;
    padding: 10px;
}

.homeSlide ul li button {
    background: transparent !important;
    color: transparent !important;
}

.homeSlide ul li button::before {
    font-size: 15px !important;
    color: #0f3460;
    position: absolute;
    top: 2px;
    left: 0;
    margin: auto;
}

.bestSellers {
    width: 90% !important;
    margin: 0 5%;
    background-color: white !important;
    height: 400px !important;
    display: flex !important;
    flex-direction: column;

}

.slick-next {
    right: 0;
}
.betterCatalog{
  width: 63.2px !important;
  height: 37px !important;
  min-width: 3rem !important;
  
  margin: 7.5% 10% !important;
  color: black !important; 
  background-color: white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  @apply shadow-sm shadow-black border border-gray-200 rounded-full


}

.betterCatalogRight {
    width: 63.2px !important;
    height: 37px !important;
    min-width: 3rem !important;
    border: 1px solid pink !important;
    border-radius: 1rem !important;
    margin-top: 7.5% !important;
    margin-right: 20% !important;
    color: rgb(244 114 182) !important;
    border-bottom: 4px solid rgba(250, 204, 21, 1) !important;
    background-color: white !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;


}
.betterCatalog:hover{
  color: white !important;
  background-color: #E94560 !important;
  --tw-border-opacity: 1;
  border-color: rgb(233 69 96 / var(--tw-bg-opacity));
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

.importantFlex {
    display: flex !important;
}

.map {
    width: 100%;
    height: 100%;
}

.leaflet-popup-content {
    margin: 10px 24px 13px 15px !important;
}

.privateNav1 {
    width: 100% !important;
    --tw-translate-x: 0px !important;
}

.privateNav2 {
    width: 75% !important;
    --tw-translate-x: 33.5% !important;

}

.search-bar-container {
    position: relative;
}

/* Example CSS styling for the search input field */

@media (max-width: 520px) {
    .react-autosuggest__input {
        width: 7.5rem !important;


    }
}

@media (min-width: 768px) {
    .react-autosuggest__input {
        width: 12rem !important;


    }
}

@media (min-width: 1024px) {
    .react-autosuggest__input {
        width: 16rem !important;


    }
}

@media (min-width: 1280px) {
    .react-autosuggest__input {
        width: 20rem !important;


    }
}

@media (min-width: 1536px) {
    .react-autosuggest__input {
        width: 24rem !important;


    }
}


.react-autosuggest__input {
    width: 12rem;

    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    transition: 0.3s;

}

.react-autosuggest__suggestions-container {
    position: absolute;
    overflow-y: auto;
    background-color: #fff;
    background-color: white;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    transform: translateY(-10px);

}

.react-autosuggest__suggestions-container--open {
    border: 1px solid #ccc;
    border-top: none;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 5px;
    opacity: 1;
    transform: translateY(0);
    @apply font-roboto

}


.DialogOverlay {
    background-color: hsl(206 22% 7% / 50%);

    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
    background-color: white;
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 25vh;
    max-width: 450px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    overflow: hidden;
}

.DialogContent:focus {
    outline: none;
    overflow: hidden;
}

.DialogContent::before {
    position: absolute;
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

}

.DialogTitle {
    margin: 0;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    font-size: 17px;

}

.DialogDescription {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 15px;
    line-height: 1.5;
}

.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    height: 35px;
}

.Button.violet {
    background-color: white;
    color: rgba(255, 0, 255, 0.8);
}

.Button.violet:hover {
    background-color: rgba(240, 240, 240, 0.76);
}

.Button.violet:focus {
    box-shadow: 0 0 0 2px black;
}

.Button.green {
    background-color: rgb(18, 158, 0);
    color: rgb(8, 228, 0);
}

.Button.green:hover {
    background-color: var(--green5);
}

.Button.green:focus {
    box-shadow: 0 0 0 2px var(--green7);
}

.IconButton {
    font-family: inherit;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 0, 255, 0.8);
    position: absolute;
    top: 10px;
    right: 10px;
}

.IconButton:hover {
    background-color: rgba(240, 240, 240, 0.76);
}

.IconButton:focus {
    box-shadow: 0 0 0 2px violet;
}

.Fieldset {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
}

.Label {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.9);
    width: 90px;
    text-align: right;
}

.Input {
    width: 100%;
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1;
    color: violet;
    box-shadow: 0 0 0 1px violet;
    height: 35px;
}

.Input:focus {
    box-shadow: 0 0 0 2px violet;
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -35%) scale(0.96);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -37.5%) scale(1);
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.RadioGroupIndicator::after {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #0f3460;
}

.flip-card-component {
    perspective: 1000px;

    transition: transform 0.6s, width 0.6s, height 0.6s;
}

.flip-card-component-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-component.flipped .flip-card-component-inner {
    transform: rotateY(180deg);
}

.flip-card-component-front,
.flip-card-component-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-component-front {
    background-color: #f1f1f1;
    border-radius: 15px;

}

.flip-card-component-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}


.flip-card {
    perspective: 1000px;
    width: 400px; /* Adjust as needed */
    height: 225px; /* Adjust as needed */
    border-radius: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background: url("/creditCardPhotos/emptyCard.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slideAnimate {
    animation: slideOut 0.5s ease-in-out forwards alternate;
}

.slideAnimate2 {
    animation: slideOut2 0.5s ease-in-out forwards alternate;
}

.slideChange {
    animation: slideChange 0.5s ease-in-out forwards alternate;
}

.slideChange2 {
    animation: slideChange2 0.5s ease-in-out forwards alternate;
}

.slideMake {
    animation: makeAnim 0.5s ease-in-out forwards alternate;
}

.slideMake2 {
    animation: makeAnim2 0.5s ease-in-out forwards alternate;
}


@keyframes slideOut {
    0% {
        background-image: url("/creditCardPhotos/emptyCard.jpeg");
        background-position: 0% 0%;
        opacity: 1;
    }
    100% {
        background-image: url("/creditCardPhotos/blueCard.jpeg");
        background-position: 100% 0%;
        opacity: 1;
    }
}

@keyframes slideOut2 {
    0% {
        background-image: url("/creditCardPhotos/blueCard.jpeg");
        background-position: 0% 0%;
        opacity: 1;
    }
    100% {
        background-image: url("/creditCardPhotos/emptyCard.jpeg");
        background-position: 100% 0%;
        opacity: 1;
    }
}

@keyframes slideChange {
    0% {
        background-image: url("/creditCardPhotos/emptyCard.jpeg");
        background-position: 0% 0%;
        opacity: 1;
    }

    100% {
        background-image: url("/creditCardPhotos/masterCardBackground-min.jpeg");
        background-position: 0% 0%;
        opacity: 1;
    }

}

@keyframes slideChange2 {
    0% {
        background-image: url("/creditCardPhotos/masterCardBackground-min.jpeg");
        background-position: 0% 0%;
        opacity: 1;
    }

    100% {
        background-image: url("/creditCardPhotos/emptyCard.jpeg");
        background-position: 0% 0%;
        opacity: 1;
    }

}

@keyframes makeAnim {
    0% {
        background-image: url("/creditCardPhotos/emptyCard.jpeg");
        background-position: 0% 0%;
        opacity: 1;
    }

    100% {
        background-image: url("/creditCardPhotos/visaCardBackground-min.jpeg");
        background-position: 0% 0%;
        opacity: 1;
    }


}

@keyframes makeAnim2 {
    0% {
        background-image: url("/creditCardPhotos/visaCardBackground-min.jpeg");
        background-position: 0% 0%;
        opacity: 1;
    }

    100% {
        background-image: url("/creditCardPhotos/emptyCard.jpeg");
        background-position: 0% 0%;
        opacity: 1;
    }

}

.flip-card-back {

    color: white;
    transform: rotateY(180deg);
}

.customFont {
    font-size: 1.4rem;
}


.ToastViewport {
    --viewport-padding: 25px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: var(--viewport-padding);
    gap: 10px;
    width: 45 0px;
    max-width: 100vw;
    margin: 0;
    list-style: none;
    z-index: 2147483647;
    outline: none;
}

.ToastRoot {
    background-color: white;
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    padding: 15px;
    display: grid;
    grid-template-areas: 'title action' 'description action';
    grid-template-columns: auto max-content;
    column-gap: 15px;
    align-items: center;
}

.ToastRoot[data-state='open'] {
    animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.ToastRoot[data-state='closed'] {
    animation: hide 100ms ease-in;
}

.ToastRoot[data-swipe='move'] {
    transform: translateX(var(--radix-toast-swipe-move-x));
}

.ToastRoot[data-swipe='cancel'] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
}

.ToastRoot[data-swipe='end'] {
    animation: swipeOut 100ms ease-out;
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(calc(100% + var(--viewport-padding)));
    }
    to {
        transform: translateX(0);
    }
}

@keyframes swipeOut {
    from {
        transform: translateX(var(--radix-toast-swipe-end-x));
    }
    to {
        transform: translateX(calc(100% + var(--viewport-padding)));
    }
}

.ToastTitle {
    grid-area: title;
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--slate-12);
    font-size: 15px;
}

.ToastDescription {
    grid-area: description;
    margin: 0;
    color: var(--slate-11);
    font-size: 13px;
    line-height: 1.3;
}

.ToastAction {
    grid-area: action;
}

.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: 500;
}

.Button.small {
    font-size: 12px;
    padding: 0 10px;
    line-height: 25px;
    height: 25px;
}

.Button.large {
    font-size: 15px;
    padding: 0 15px;
    line-height: 35px;
    height: 35px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 8px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}


.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
     background-size: contain;
     background-position: center;

 }

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid #b8b7b7;
    border-radius: 8px;
}

.backSlides {
    height: 75px !important;

    opacity: 0.4;
    transition: all 0.4s !important;

}

.bigSwiper {
    height: 500px !important;
    border-radius: 25px;
    user-select: none;
    border: 1px solid #b8b7b7;

}

.bigSwiper img {
    border-radius: 25px !important;

}

.swiper-slide-thumb-active {
    opacity: 1 !important;
    user-select: none;
    transition: all 0.4s !important;
}

.smallSwiper {
    height: 75px !important;


}

::placeholder {
    text-align: center;
}

.swiper-button-next:after {

    font-size: 30px !important;
    color: black !important;
}

.swiper-button-prev:after {
    font-size: 30px !important;
    color: black !important;
}

.customScroller::-webkit-scrollbar {
    width: 5px;
}

.customScroller::-webkit-scrollbar-track {
    background: blue;
}

.customScroller::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}

.customScroller::-webkit-scrollbar-thumb:hover {
    background: tomato;
}


.animateAdress {
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes shakeErrorMessageOfAdressComponent {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

.shake-animation-error-message-of-adress-component {
    animation: shakeErrorMessageOfAdressComponent 0.5s ease-in-out;
}

.no-border img {
    border: none !important;
}
.full-opacity{
    opacity: 1 !important;
}
.erase-padding-x{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.tree-container::-webkit-scrollbar {
    width: 12px;
    border-radius: 8px;
}


.tree-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
}


.tree-container::-webkit-scrollbar:hover {
    width: 16px;
}


.tree-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
